@font-face {
  font-family: 'Raleway';
  src: url('/font/Raleway-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Raleway';
  src: url('/font/Raleway-Light.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'Raleway';
  src: url('/font/Raleway-Bold.ttf') format('truetype');
  font-weight: 700;
}
